<section class="home-page">

    <section class="header">
        <section class="header-article">
            <h1><span> ELITE </span>VETERINARY CENTER</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </section>
        <!-- ---------------- -->
        <div class="header-img">
            <img src="./assets/webp/webp-header.webp" alt="" srcset="">
        </div>
    </section>

    <section class="service">
        <app-section-title sectionTitle="Services"></app-section-title>
        <app-service-item></app-service-item>

    </section>

    <section class="doctors">

    </section>

    <section class="petshop">

    </section>

</section>