<section class="home-page">

    <section class="header">

        <article>
            <h2>ELIITE VETERINARY CENTER</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <!-- ---------------- -->
        <div class="header-img">

        </div>

    </section>

    <section class="service">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>


    </section>

    <section class="doctors">

    </section>

    <section class="petshop">

    </section>

</section>