
@import '../../../../style/color';
@import '../../../../style/mixins';
// ---------------------------------------------------------------------------------------------------------------------------------------------
.home-page {

    .header {

        article{

            h2{
                color: $tertiary;
            }
        }
        height: 500px;
        background: rgb(16,109,106);
        // background: linear-gradient(180deg, rgba(16,109,106,1) 35%, rgba(2,47,46,1) 100%); 
        background-image : url(../../../../../assets/icons/svg-paws-pattern.svg)  ;
        background-size: 200px;
        // background:  url(../../../../../assets/svg-paws-pattern.svg) 200px ;
    }

}