@use '../../../../style/color' as color;
@use '../../../../style/variables' as variables;
@use '../../../../style/mixins' as mixins;

// ---------------------------------------------------------------------------------------------------------------------------------------------
.home-page {

    *> {
        overflow: hidden;
    }

    .header {
        overflow: hidden;

        min-height: 500px;
        background: rgb(16, 109, 106);
        background-image: url(../../../../../assets/icons/svg-paws-pattern.svg);
        background-size: 200px;

        @include mixins.display-flex;
        @include mixins.flex-wrap(wrap);
        @include mixins.justify-content(space-around);
        @include mixins.align-items(center);

        .header-article {
            width: clamp(200px , 50% , 500px);

            h1 {
                font-size: calc(variables.$size * 4);
                color: color.$secondary;

                span {
                    color: color.$tertiary;
                    display: block;
                }
            }
        }

        .header-img {
            img {
                width: calc(variables.$size * 35);
            }
        }

    }

}