<section class="appointment">

  <mat-stepper #stepper [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">

        <!-- --------- -->
        <h3>Who is the appointment for? </h3>
        <mat-button-toggle-group formControlName="firstCtrl" name="pet type" aria-label="Pet">
          <app-appointment-toggle (click)="stepNext(stepper)" matStepperNext toggleValue="dog" toggleTitle="Dog"
            [toggleSvgUrl]="svgUrls['dog']"></app-appointment-toggle>
          <app-appointment-toggle (click)="stepNext(stepper)" matStepperNext toggleValue="cat" toggleTitle="Cat"
            [toggleSvgUrl]="svgUrls['cat']"></app-appointment-toggle>
        </mat-button-toggle-group>
        <!-- --------- -->
        <div>
          <!-- <button mat-button matStepperNext>Next</button> -->
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <!-- <ng-template matStepLabel>Done</ng-template> -->
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
</section>