<footer>
    <div class="container">
        <div class="location">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6911.886369863627!2d31.00014555206049!3d29.981062759882775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x84537c8a95ae59af!2sElite%20veterinary%20center!5e0!3m2!1sar!2seg!4v1675695661301!5m2!1sar!2seg"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <img class="location-icon" src="../../../../assets/icons/svg-f-location.svg">
        </div>
        <div class="footer-data">
            <div class="column clinic">
                <div class="logo">
                    <img src="./assets/icons/svg-f-elite.svg" loading="lazy" alt="Elite Veterinary Center Logo">
                </div>
                <div class="contact">
                    <img src="./assets/icons/svg-f-fb.svg" loading="lazy" alt="facebook">
                    <img src="./assets/icons/svg-f-ins.svg" loading="lazy" alt="instegram">
                    <img src="./assets/icons/svg-f-tik.svg" loading="lazy" alt="tiktok">
                </div>
                <div class="logo-info">
                    <span class="copyright">© 2023. All rights reserved.</span>
                </div>
            </div>
            <div class="column is-navigation">
                <h4 class="column-title">Services</h4>
                <ul>
                    <li><a>X-ray</a></li>
                    <li><a>Echo Cardiography</a></li>
                    <li><a>laboratory</a></li>
                    <li><a>Vaccination</a></li>
                    <li><a>Dental Care</a></li>
                    <li><a>Surgery</a></li>
                    <li><a>Home Visit</a></li>
                    <li><a>Pet Shop</a></li>
                    <li><a>Pet Hotel</a></li>
                    <li><a>Grooming</a></li>
                </ul>
            </div>
            <div class="column is-navigation">
                <h4 class="column-title">Contact</h4>
                <ul>
                    <li><a > 01099010555</a></li>
                    <li><a >@stackfindover</a></li>
                    <li><a > Linkedin</a></li>
                </ul>
                <div class="column-title">Other</div>
                <ul>
                    <li><a target="_blank">Quizz</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>