@use '../../../style/color' as color;
@use '../../../style/mixins' as mixins;
@use '../../../style/variables' as variable;

header {

    flex: 0 0 80px;
    position: fixed;
    z-index: 11;
    top: 0;
    width: 100%;
    transition: all ease-in-out 0.3s;
    .mat-toolbar {
        background-color: color.$secondary;
        @include mixins.display-flex;
        @include mixins.justify-content(space-between);
        .logo {
            img {
                width: 50px;
            }
        }
        .routing{

            .lang{
                button{
                    
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
}
// -------------
.changeOnScroll {
    position: fixed;
    top: -70px;
    width: 100%;
}