<header [class.changeOnScroll]="isVisible">
    <mat-toolbar>
        <div class="logo">
            <img src="./assets/icons/svg-elite-icon.svg" alt="Elite Veterinary Center logo" srcset="">
        </div>

        <div class="routing">
            <button (click)="appointmentRoute()" mat-button >
                Appointment
            </button>
            <!-- ------------ -->
            <button  (click)="petshopRoute()"  mat-button >
                Pet Shop
            </button>
            <!-- ------------ -->
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="login register">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="signinRoute()" mat-menu-item>
                    <mat-icon>login</mat-icon>
                    <span>Login</span>
                </button>
                <!-- ------------ -->
                <button (click)="signupRoute()" mat-menu-item>
                    <mat-icon svgIcon="signup" ></mat-icon>
                    <span>Register</span>
                </button>
            </mat-menu>

        </div>
 
    </mat-toolbar>
</header>