<app-navbar></app-navbar>

<section class="">
    <div class="container">
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quod at veritatis, deleniti eius vel
                voluptatem vitae repellendus accusamus aliquam voluptate laborum est nulla reiciendis nesciunt labore
                officia. Molestiae, recusandae!</p>
        </article>
        <!-- ------- -->
        <section>
            <img src="" alt="" srcset="">
        </section>

    </div>


</section>
<!-- ------------------------- -->

<section class="service">

    <div class="container">
        <h2>service</h2>

        <div class="item">
            <div class="icon">

            </div>
            <div class="svc-name"></div>
            <div class="svc-text"></div>
        </div>
        <!-- ------ -->

    </div>

</section>
<!-- ------------------------- -->

<section class="shop">

    <h2>service</h2>
</section>
<!-- ------------------------- -->

<section class="doctors">

    <h2>service</h2>
</section>

<app-footer></app-footer>